<header class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Accueil",   root_path, class: 'btn btn-success' %></li>
          <li><%= link_to "Index des gossips",   gossips_path, class: 'btn btn-primary' %></li>
          <li><%= link_to "Nouveau gossip", new_gossip_path, class: 'btn btn-warning' %></li>
        </ul>
      </nav>
    </div>
  </header>